body {
    background-image: url('https://media1.tenor.com/m/8NQEPccMPc4AAAAC/anime.gif');
    background-size: cover;
    background-position: center;
    margin: 0px;
    min-height: 100vh;
}



.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .button {
    background-color: #99cedb;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .title {
    font-family: "Kanit", sans-serif;
    font-style: bold;
    font-weight: 900;
    font-size: 70px;
    margin: 20px 0;
    text-align: center;
    padding-top: 250px; 
  }

  .button:hover {
    background-color: #72c4d8;
    transform: scale(1.05);
  }
  
  .button:active {
    transform: scale(0.98);
  }
  
  .link {
    background-color: #99cedb;
    color: #ffffff;
    padding: 10px 20px;
    margin: 5px;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease;
    float: right;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .link:hover {
    background-color: #72c4d8;
    transform: scale(1.05);
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .link:active {
    transform: scale(0.98);
  }
  
  .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #99a8c0;
  }
  
  .listItem {
    float: left;
  }
  
.genBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Space between input and button */
  margin: 20px auto;
  padding: 10px 20px;
  width: 600px;
  height: 100px;
  background-color: #FBF5DD;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.genBarContainer input[type="text"] {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #ece4f3;
  color: #000000;
  font-size: 20px;
  outline: none;
  transition: border 0.3s ease;
}

.genBarContainer input[type="text"]:focus,
.genBarContainer input[type="text"]:hover {
  background-color: #ffffff;
}

.genBarContainer button {
  height: 70px;
  width: 150px;
  background-color: #99cedb;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.genBarContainer button:hover {
  background-color: #72c4d8;
}

.genBarContainer input {
  height: 70px;
}
.titleContainer {
  display: flex;
  flex-direction: row; /* Makes it a row instead of a column */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Centers content horizontally */
  gap: 20px; /* Adds space between elements */
  margin-top: 20px;
}

.image {
  width: 150px;
  height: 150px;
  padding-top: 200px;
}

