.title {
  text-align: center;
  width: 100%; /* Ensures it takes up the full width of the parent */
  font-family: "Kanit", serif;
  font-weight: 500;
  font-style: normal;
}

.songList {
  width: 90%;
  margin: 0 auto;
  display: grid;
  column-gap: 50px;
  row-gap: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}